/*
Move the tabs bar to below the other toolbars (Firefox 89, Photon or Proton)

Updated for Firefox 113 (May 14, 2023)
Updated for Firefox 116 (August 7, 2023)

Brief explanation:

#navigator-toolbox contains #titlebar, #nav-bar (navigation bar) and #PersonalToolbox (bookmarks bar)
#titlebar contains #toolbar-menubar (menu, window controls) and #TabsToolbar (our tabs)
Ordinal groups: #titlebar (0), #nav-bar (1), #PersonalToolbox (2)

We set #titlebar to ordinal group 3 and then force #toolbar-menubar to be drawn at the top of the screen.
This splits the menu from the tabs while leaving the navigation bar and the bookmarks bar in the middle.
*/

#titlebar{
  -moz-box-ordinal-group: 3;
  order: 3;  /* update: the above is no longer valid */
}

/* update: align the tabs toolbar with the bottom border */
#TabsToolbar-customization-target {
  margin-bottom: -1px !important;
}

/* create space for the menu bar */
/* August 7, 2023 - remove -2px offset */
#navigator-toolbox {
  padding-top: var(--tab-min-height) !important;
}

/* force the menu bar to occupy the top of the screen */
#toolbar-menubar {
  display: flex; position: fixed; top: 0; padding-top: 0;
  height: var(--tab-min-height); width: 100%;
}

/* so window control icons don't get scrunched */
.titlebar-buttonbox-container {
  height: var(--tab-min-height) !important;
}

/* this is for the separator between #menubar-items and .titlebar-buttonbox-container */
#toolbar-menubar > [flex] {
  flex-grow: 1;
}
